body {
    background-image: url('image/gaia_back_index.jpg'); /* Image en arrière-plan */
    background-size: cover; /* Couvre tout l'espace du header */
    background-position: center; /* Centre l'image */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.bloc-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
    width: 80%;
}

.bloc {
    background-color: #fff;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.bloc:hover {
    background-color: #4CAF50;
    color: white;
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #4CAF50;
    color: white;
}
